<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>425886630923-gep2s0i32nbu7tgstqf72j06d9m56hd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425886630923-gep2s0i32nbu7tgstqf72j06d9m56hd5</string>
	<key>API_KEY</key>
	<string>AIzaSyAjaqzff2vUDhhQHetCQ-agQuPDz1z21qc</string>
	<key>GCM_SENDER_ID</key>
	<string>425886630923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catonthecouch.Salty</string>
	<key>PROJECT_ID</key>
	<string>salty-19e5e</string>
	<key>STORAGE_BUCKET</key>
	<string>salty-19e5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:425886630923:ios:6c4b4beb80cadd94</string>
	<key>DATABASE_URL</key>
	<string>https://salty-19e5e.firebaseio.com</string>
</dict>
</plist>